/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Navigation Menu */
.nav {
    background-color: #222;
    padding: 1rem;
    text-align: center;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-right: 1rem;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ff6600;
}

/* Welcome Section */
#welcome-section {
    text-align: center;
    padding: 5rem 0;
    background-color: #fff;
}

#welcome-section h1 {
    font-size: 3rem;
    color: #333;
}

#welcome-section p {
    font-style: italic;
    color: #777;
}

/* Projects Section */
.project-section {
    padding: 3rem 0;
    background-color: #f9f9f9;
}

.projects-section-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

/* Contact Section */
#contact {
    text-align: center;
    padding: 2rem 0;
    background-color: #222;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav li {
        display: block;
        margin-bottom: 1rem;
    }
}
